* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --color-primary: #1992D4;
    --color-gray: #E2E8F0;
    --color-yellow: #F0B429;
}

body {
    display: flex;
    background-color: var(--color-gray);
    min-height: 100vh;
}

.sidebar {
    width: 240px;
    color: white;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    padding: 15px 15px;
}

.sidebar .block svg {
    color: white;
    fill: white;
    margin-right: 15px;
}

.sidebar .block {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 15px;
}

.container-title {
    margin-bottom: 40px;
}

.container-one {
    margin-bottom: 40px;
}

.main-bar {
    width: 100%;
}

/* Nav bar */

.navbar {
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    background-color: white;
    width: 100%;
    box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar input {
    flex-grow: 1;
    background: var(--color-gray);
    border: none;
    height: 30px;
    border-radius: 15px;
    margin-right: auto;
    max-width: 75%;
}


.navbar .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.navbar .container {
    width: 100%;
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}

.navbar .container svg {
    width: 30px;
    margin-right: 20px;
}

.navbar .container .svg-bell {
    margin-left: 45px;
}

.navbar .avatar {
    margin-right: 30px;
}

.navbar .container .name {
    font-weight: bold;
}

.navbar .container2 .avatar {
    width: 75px;
    height: 75px;
}

.navbar .container2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .container2 .hello-info {
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.navbar .main-button {
    display: flex;
    gap: 20px;
}

.navbar .main-info {
    display: flex;
}


/* main section */
.main {
    padding: 0px 15px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.main .table {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.main .table .card {
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    background-color: white;
    border-radius: 5px;
    border-left: solid #F0B429 5px;
    box-shadow: 1px 3px 3px rgba(0, 0,0, 0.1);
}

.main .table .card .icons {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.main .table .text-super-sm {
    margin-bottom: 30px;
    width: 90%;
}

.main .table .card svg {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.main .title {
    font-size: 1.1rem;
    margin-bottom: 15px;
}


/* announcements */

.other {
    margin-left: 15px;
    margin-right: 30px;
}

.announcement {
    margin-bottom: 40px;
}

.annoucements-card {
    background: #fff;
    padding: 15px 30px;
    border-radius: 5px;
    box-shadow: 1px 3px 3px rgba(0, 0,0, 0.1);

    display: flex;
    flex-direction: column;

}

.annoucements-card .card {
    padding: 20px 0px;
}

.annoucements-card .card:not(:last-child) {
    border-bottom: solid #838383 1px;
}

.annoucements-card .card .text-sm {
    font-weight: bold;
    margin-bottom: 5px;
}

/* Trending */

.trending .cards {
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 1px 3px 3px rgba(0, 0,0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.trending .card {
    display: flex;
    align-items: center;
}

.trending .card .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

/* Utility */

.button-primary {
    text-decoration: none;
    color: white;
    background-color: var(--color-primary);
    width: 100px;
    height: 40px;
    /* padding: 10px 20px; */
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg.lg {
    width: 40px;
}

svg.sm {
    width: 20px;
}

.text-lg {
    font-size: 1.4rem;
    font-weight: bold;
}

.text-md {
    font-size: 1.1rem;
    font-weight: 500;
}

.text-sm {
    font-size: 0.8rem;
    font-weight: normal;
}

.text-super-sm {
    font-size: 0.7rem;
    font-weight: 400;
    color: #838383;
}

.text-semi-lg {
    font-size: 0.9rem;
    font-weight: bold;
}